.chat-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  justify-content: flex-end;
  .chat-overlay {
    position: fixed;
    z-index: 29;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(20, 20, 43, 0.4);
  }
}
.chat {
  position: relative;
  z-index: 31;
  background: #ffffff;
  box-shadow: 0 13px 37px rgba(0, 0, 0, 0.21);
  width: 464px;
  height: 100%;
  .product-image {
    width: 72px;
    height: 72px;
  }
}
